@model MedicationReminder.Models.ViewModel.Register
@{
    ViewBag.Title = "User Registration";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="registration-section">
                <div class="egistration-content text-center text-white">
                    <h1>Welcome to Medicine Reminder</h1>
                    <h2>Create an Account</h2>
                    <p>Already have an account? <a  class="text-warning" asp-action="Login" asp-controller="Account">Login Now</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="registration-form mt-5">
                <h2 class="mb-4">Register</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Name"  asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email Address" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>


